* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  color: rgb(50, 7, 202);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(https://png.pngtree.com/background/20220731/original/pngtree-racing-background-abstract-stripes-with-baby-blue-black-grey-and-white-picture-image_1913686.jpg);
  background-size: 100%;
  background-position: 100%;
  padding: 30px 30px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  color: rgb(5, 5, 5);
  font-family: 'Franklin Gothic Medium';
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: xx-large;
}

.links a {
  color: rgb(6, 2, 148);
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  color: rgb(47, 0, 255);
}

/* Secciones para hacer scroll */
.section {
  height: 100vh;
  padding-top: 100px; /* para que no se tapen con el navbar */
}

/* Boton de inicio de sesion */
.boton-iniciarsesion {
  background-color: rgb(6, 2, 253);
  color: white;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.boton-iniciarsesion:hover {
  background-color: #2a2db8;
}

/* Botón de registro */
.boton-registro {
  background-color: rgb(6, 2, 253);
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.boton-registro:hover {
  background-color: #2a2db8;
}

/* Fondo del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

/* Contenido del modal */
.modal-content {
  background-color: #fff;
  color: #000;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  position: relative;
}

/* Botón para cerrar modal (X) */
.boton-cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  color: #000;
  cursor: pointer;
}

/* Formulario */
.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.modal-content input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button {
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: darkred;
}

/* Me muestra el modal cuando el checkbox está activado */
#modal-toggle:checked ~ #modal-login {
  display: flex;
}

#modal-toggle-registro:checked ~ #modal-registro {
  display: flex;
}

.session-buttons {
  display: flex;
  gap: 10px;
}

/* Mostrar los modals según su toggle */
#modal-toggle-login:checked ~ #modal-login,
#modal-toggle-registro:checked ~ #modal-registro {
  display: flex;
}
