.custom-shape-divider-top-1751325343 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1751325343 svg {
  position: relative;
  display: block;
  width: calc(158% + 1.3px);
  height: 83px;
}

.custom-shape-divider-top-1751325343 .shape-fill {
  fill: #ce1b1b;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.div1:hover {
  transform: scale(1.03);
}
.div2:hover {
  transform: scale(1.03);
}
.div3:hover {
  transform: scale(1.03);
}
.div4:hover {
  transform: scale(1.03);
}
.div5:hover {
  transform: scale(1.03);
}
.div6:hover {
  transform: scale(1.03);
}
.div7:hover {
  transform: scale(1.03);
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  transition: transform 0, 5s ease;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  transition: transform 0, 5s ease;
}
.div3 {
  grid-area: 2 / 1 / 3 / 3;
  transition: transform 0, 5s ease;
}
.div4 {
  grid-area: 1 / 3 / 2 / 5;
  transition: transform 0, 5s ease;
}
.div5 {
  grid-area: 2 / 3 / 3 / 4;
  transition: transform 0, 5s ease;
}
.div6 {
  grid-area: 2 / 4 / 3 / 5;
  transition: transform 0, 5s ease;
}
.div7 {
  grid-area: 1 / 5 / 3 / 6;
  transition: transform 0, 5s ease;
}
